
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css"); 
@import url("components/banner.css"); 
@import url("components/card.css");

/* Style de base */
body {
    font-family: "Lora", serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Arima", serif;
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 300px;
    }
}
